Rest_Soap/sequenceAndAll/letter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="letter" type="letterType"/>
	<xs:complexType name="letterType">
		<xs:all>
			<xs:element name="from" type="xs:string"/>
			<xs:element name="to" type="xs:string"/>
			<xs:element name="subject" type="xs:string"/>
			<xs:element name="body" type="xs:string"/>
		</xs:all>
	</xs:complexType>

</xs:schema>
